Task 1 : Perform Data Cleaning
Clean a dataset by removing missing values and outliers.

In [13]:
import pandas as pd 
import numpy as np
from scipy import stats

#Read the dataset into a pandas dataframe

In [14]:
df=pd.read_csv('gender_submission.csv')

In [15]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

#Remove missing values

In [16]:
df.dropna(inplace=True)

#Remove outliers using Z-score method

In [17]:
z_scores = stats.zscore(df)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
df = df[filtered_entries]

#Save the cleaned dataset to a new CSV file

In [19]:
df.to_csv('cleaned_dataset.csv', index=False)

In [23]:
pd.read_csv('cleaned_dataset.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

Thank You!!