Task 2 : Calculate summary statistics
Calculate summary statistics (mean, median,mode, standard deviation) for a dataset

In [18]:
import pandas as pd
import numpy as np

In [19]:
#Read the dataset into a pandas DataFrame

In [20]:
df=pd.read_csv('gender_submission.csv')

In [21]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [22]:
#Calculate the mean

In [23]:
mean=np.mean(df)

C:\Users\ahers\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [24]:
#Calculate the median

In [25]:
median=np.median(df)

In [26]:
#Calculate the mode

In [27]:
mode=df.mode().iloc[0]

In [28]:
#Calculate the Standard deviation

In [29]:
std_dev = np.std(df)

In [30]:
#Print the summary statistics

In [31]:
print("Mean: {:.2f}".format(mean.values[0]))

Mean: 1100.50

In [32]:
print("Median: {:.2f}".format(median))

Median: 446.50

In [33]:
print("Mode: {:.2f}".format(mode.values[0]))

Mode: 892.00

In [34]:
print("Standard Deviation: {:.2f}".format(std_dev.values[0]))

Standard Deviation: 120.67

Thank You!!